In [16]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Flipkart Mobile - 2.csv to Flipkart Mobile - 2.csv

In [ ]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['Flipkart Mobile - 2.csv']))

In [ ]:
df2

,brand,model,base_color,processor,screen_size,ROM,RAM,display_size,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales
0,Apple,iPhone SE,Black,Water,Very Small,64,2,4.7,1,1,1800,4.5,38645,32999,0.17,127.52
1,Apple,iPhone 12 Mini,Red,Ceramic,Small,64,4,5.4,2,1,2815,4.5,244,57149,0.04,1.39
2,Apple,iPhone SE,Red,Water,Very Small,64,2,4.7,1,1,1800,4.5,38645,32999,0.17,127.52
3,Apple,iPhone XR,Others,iOS,Medium,64,3,6.1,1,1,2942,4.6,5366,42999,0.10,23.07
4,Apple,iPhone 12,Red,Ceramic,Medium,128,4,6.1,2,1,2815,4.6,745,69149,0.02,5.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,Xiaomi,Redmi 6 Pro,Black,Qualcomm,Small,32,3,5.8,2,1,4000,4.3,1870,7999,0.30,1.50
426,Xiaomi,Redmi 6 Pro,Red,Qualcomm,Small,64,4,5.8,2,1,4000,4.3,1783,9699,0.28,1.73
427,Xiaomi,Mi 11 Lite,Others,Qualcomm,Large,128,6,6.5,3,1,4250,4.2,1554,21999,0.12,3.42
428,Xiaomi,Redmi 8A Dual,Blue,Qualcomm,Medium,32,3,6.2,2,1,5000,4.2,8161,8299,0.07,6.77
429,Xiaomi,Redmi 6 Pro,Blue,Qualcomm,Small,32,3,5.8,2,1,4000,4.3,1870,8190,0.36,1.53

In [ ]:
reg = linear_model.LinearRegression()
reg.fit(df2[['ROM','RAM','display_size','battery_capacity']],df2.sales_price)

LinearRegression()

In [ ]:
reg.coef_

array([ 2.05603159e+02, -6.25164543e+02,  1.47978039e+04, -1.29801644e+01])

In [ ]:
reg.intercept_

-28448.846215781876

In [ ]:
reg.predict([[128,3,4.7,1800]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([42178.24687091])

In [8]:
from google.colab import files
uploaded = files.upload()

Saving Flipkart Mobile - 2.csv to Flipkart Mobile - 2.csv

In [10]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['Flipkart Mobile - 2.csv']))

In [18]:
df2_copy = df2.copy()

In [19]:
df2_copy.columns

Index(['brand', 'model', 'base_color', 'processor', 'screen_size', 'ROM',
       'RAM', 'display_size', 'num_rear_camera', 'num_front_camera',
       'battery_capacity', 'ratings', 'num_of_ratings', 'sales_price',
       'discount_percent', 'sales'],
      dtype='object')

In [43]:
#'brand','model','base_color','processor','screen_size'
df2_copy = df2_copy.drop(['sales','num_rear_camera', 'num_front_camera'],axis= 1)
df2_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ROM               430 non-null    int64
 1   RAM               430 non-null    int64
 2   display_size      430 non-null    float64
 3   battery_capacity  430 non-null    int64
 4   sales_price       430 non-null    int64
dtypes: float64(1), int64(4)
memory usage: 16.9 KB

In [44]:
# Train Test Split
price_train, price_test = train_test_split(df2_copy,train_size = 0.7, random_state = 42)

In [45]:
print(price_train.shape)
print(price_test.shape)

(301, 5)
(129, 5)

In [46]:
y_train = price_train.pop('sales_price')
x_train = price_train

y_test = price_test.pop('sales_price')
x_test = price_test

In [47]:
#scaling
scaler = StandardScaler()
x_train[x_train.columns]= scaler.fit_transform(x_train[x_train.columns])
x_train.describe()

                ROM           RAM  display_size  battery_capacity
count  3.010000e+02  3.010000e+02  3.010000e+02      3.010000e+02
mean   1.434807e-16  1.148952e-16 -1.617200e-15     -2.947070e-16
std    1.001665e+00  1.001665e+00  1.001665e+00      1.001665e+00
min   -1.514026e+00 -1.959839e+00 -4.684510e+00     -2.934607e+00
25%   -6.490443e-01 -6.221710e-01  2.947971e-02     -5.865925e-01
50%    3.395064e-01  2.696074e-01  3.067732e-01      2.030984e-01
75%    3.395064e-01  2.696074e-01  3.067732e-01      4.347410e-01
max    6.270811e+00  2.944943e+00  3.357001e+00      2.540583e+00

In [48]:
x_test[x_test.columns]= scaler.fit_transform(x_test[x_train.columns])
x_test.describe()

                ROM           RAM  display_size  battery_capacity
count  1.290000e+02  1.290000e+02  1.290000e+02      1.290000e+02
mean  -1.118829e-17 -9.983401e-17  1.292678e-15      3.356488e-16
std    1.003899e+00  1.003899e+00  1.003899e+00      1.003899e+00
min   -1.644504e+00 -2.057358e+00 -4.225508e+00     -2.464493e+00
25%   -6.962365e-01 -5.691382e-01 -5.828983e-01     -3.749225e-01
50%    3.874982e-01 -5.691382e-01  4.578474e-01      9.997982e-02
75%    3.874982e-01  4.230081e-01  4.578474e-01      5.748821e-01
max    2.554968e+00  3.399447e+00  9.782203e-01      2.474491e+00

In [49]:
lr = LinearRegression()
price_reg = lr.fit(x_train,y_train)

Let us check the R-Squared

In [50]:
price_reg.score(x_train,y_train)

0.6381034528864264

In [51]:
price_reg.score(x_test,y_test)

0.5344586173677919